/*********** GENERALES ******************/

.table-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    align-self: flex-start;
    padding: 20px;
}

.table-headings {
    display: flex;
    font-weight: 600;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.table-heading {
    width: 100px;
    flex: 1;
}

.table-rows {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    border-top: 1px solid black;
    padding-top: 10px;
}

.table-cell {
    width: 100px;
    flex: 1;
}


button,
.button {
    cursor: pointer;
    transition-duration: 500ms;

}

button {
    border-color: #FF5757;
    padding: 5px 10px 5px 10px;
    margin-top: 10px;
    color: #FF5757;
    border-radius: 10px;
}

.button:hover,
button:hover {
    color: #FF5757;

}

#update-address {
    display: none;
    background-color: #8cff57;


}

.primary-button {
    background-color: #FF5757;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 10px 5px 10px;
    color: white;
    letter-spacing: 5px;
    border: none;
    transition-duration: 500ms;
}

.primary-button:hover {
    background-color: #383838;
    color: white;
}

.primary-button i {
    color: white;
}

.edit-button {
    background-color: #ffc157;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 10px 5px 10px;
    color: white;
    letter-spacing: 5px;
    border: none;
    transition-duration: 500ms;
    &:hover{
        background-color: #FF5757;
    }
}

.edit-button i {
    color: white;
}

.delete-button {
    background-color: #767676;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 10px 5px 10px;
    color: white;
    letter-spacing: 5px;
    border: none;
    &:hover{
        background-color: #FF5757;
    }

}

.delete-button i {
    color: white;
}

.alert {
    color: red;
}

.h2-block {
    grid-area: h2-block;
    padding: 20px;
    letter-spacing: 10px;
    text-align: center;
    font-size: 3em;
}

strong {
    color: #FF5757;
}

i {
    color: #FF5757;
    padding: 5px;
    letter-spacing: 0px;

}

.flex-list {
    overflow: auto;
    flex: 1;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
    position: relative;

}

.flex-list :first-child {
    padding-left: 0px;
}

.flex-list li {
    padding: 15px;
}

* {
    
    letter-spacing: 5px;
}

a {
    text-decoration: none;
    transition: 500ms;
    color: inherit;
    cursor: pointer;
}

a:hover {

    color: #FF5757;
}

/************************ LAYOUT ***********************/

body {
   letter-spacing: 4px;
    font-family: "Avenir Next", Roboto, -apple-system,
        BlinkMacSystemFont, "Helvetica Neue", helvetica, segoe ui, arial,
        "PingFang SC", "miui", "Hiragino Sans GB", "Microsoft Yahei", sans-serif;

    display: flex;
    justify-content: center;
    color: black;
    max-width: 2560px;
    margin: 0px auto;
    
}

#main-container {
     
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 2560px;
    justify-self: center;
    margin: 8px 8px 0px 8px;
}


/******HEADER ******/
#before-content {
    background-color: #FF5757;
    color: rgb(255, 255, 255);
    letter-spacing: 5px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 11px;

    align-items: center;
}

#before-content span {
    color: black;
    border: 1px solid white;
    padding: 5px;
    text-shadow:
        -1px -1px 0 #fff,
        1px -1px 0 #fff,
        -1px 1px 0 #fff,
        1px 1px 0 #fff;
}

#header {

    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;

}

#navbar li:hover {

    text-decoration: underline #FF5757 3px;
    text-underline-position: under;
    transition-duration: 300ms;
}

#categories-nav-list{
    justify-content: space-around;
     align-items: center;
}

#sagas-nav-list {
    background-color: #ffffff;
    color: #3f3f3f;
    border-top: 2px solid #FF5757;
    border-bottom: 2px solid #FF5757;
    line-height: 0px;
    
    font-size: 12px;
}
#sagas {
    background-color: #FF5757;
    color: white;
    text-indent: 10px;
    font-weight: 600;
}

#logo {
    height: 80px;
}

.search-bar {
    border: 2px solid #FF5757;
    border-radius: 50px;
    flex: 0.75;
    place-content: center;

}

.search-bar form {
    display: flex;
    border-radius: 50px;
    border: none;
    height: 100%;
    width: auto;
    align-items: center;

    justify-content: space-between;

}

.search-bar div:nth-child(1) {
    flex: 1;
    padding: 10px;
}

.search-bar div:nth-child(2) {

    height: 20px;
    width: 20px;
    background-color: #FF5757;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
}

.search-bar input[type="search"] {
    flex: 1;
    border: none;
    width: 100%;
    height: 100%;

    &::placeholder {
        padding-left: 10px;

    }
}

.search-bar button {
    margin: 0px;
    border: none;
    height: 20px;
    width: 20px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    /* Centra horizontalmente el contenido */
    align-items: center;



}

.search-bar i {
    color: white;
    font-size: 20px;
    letter-spacing: 0px;



}

/*********CONTENT********/

#content {

    padding: 0px;
    align-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;

}


/*********** ACCOUNT ***********/






/* MAIN CONTENT */
#main-content {
    padding-top: 20px;
    min-height: 400px;
    grid-area: main-content;
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-items: center;
    align-items: center;
    gap: 20px;
}

.article-list-image {
    width: 100%;
    height: auto;
    padding: 20px;

}

.article-list-name {
    text-align: center;
}

.article-list-price {
    text-align: center;
}

/**************************CATEGORY*******************/

#category-content {

    padding: 0px;
    padding-top: 20px;
    align-content: center;
    min-height: 400px;
    grid-area: content;
    display: grid;
    grid-template-areas: "sidebar main-content-category ";
    grid-template-columns: minmax(200px, 1fr) 5fr;


}

#main-content-category {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

/***************** ACCOUNT ************************/

#account-content {
   
    height: 100%;
    width: 100%;
    grid-area: content;
    display: grid;
    grid-template-areas: "sidebar main-content-account ";
    grid-template-columns: minmax(200px, 1fr) 5fr;



}

#main-content-account {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    grid-area: main-content-account;
    gap: 20px;
    margin-left: 30px;
    margin-right: 30px;

}

.main-content-account:first-child {
    align-items: flex-start;
    justify-content: flex-start;
}

#address-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;


}

#address-list>div {
    background-color: #ffffff;
    /* Fondo de respaldo en caso de que no se cargue el gradiente */
    padding: 20px;
    border-radius: 5px;
    border-top: 2px solid #FF5757;
    border-left: 2px solid #FF5757;
    border-right: 2px solid #a74e4e;
    border-bottom: 2px solid #a74e4E;
}

#address-container h1 {
    padding: 10px;
}



#address-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

#create-address {
    
    display: flex;
   
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    gap: 10px;
    position: sticky;
    top: 10px;
   
}




#account {

    display: flex;
    flex: 1;
    justify-content: center;
    height: 100%;
    width: 100%;
    
    
}

#register {
    
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: 100%;


}

#login {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: #ff575778;
    


}


.st-form-group input {
    border-radius: 5px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-indent: 10px;

}

.st2-form-group input {
    border-radius: 10px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    text-indent: 10px;

}
.st2-form-group  {
    
    padding-top: 5px;
    padding-bottom: 5px;
    

}


#register-button {
    padding: 10px;
    color: white;
    background-color: black;
    width: 100%;
    border-radius: 20px;
    margin-top: 10px;
}

#login-button {
    padding: 10px;
    color: white;
    background-color: black;
    width: 100%;
    border-radius: 20px;
    margin-top: 10px;
}




/* SIDEBAR */

#sidebar {
    
    min-height: 400px;
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    border-right: 10px solid #FF5757;
    border-radius: 20px;


}

#category-block {
    position: sticky;
    top: 20px;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    justify-content: flex-start;
}

#category-block li {
    padding-bottom: 20px;
    list-style: none;
    flex: auto;
    

}



/*******HOME PAGE *********/
#content-home {

    padding: 0px;
    align-content: center;
    min-height: 400px;
    grid-area: content;
    display: grid;
    grid-template-areas:
        "carrousel"
        "homepage-grid"
        "h2-block"
        "products-list";

    grid-template-columns: 1fr;

}

#carrousel {
    grid-area: carrousel;
    background-color: white;
    width: 100%;
    height: auto;
}

.homepage-grid {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 60px;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
        " goku figuras camisetas disfraces onepiece"
        " goku figuras camisetas disfraces onepiece"
        " goku sudaderas tazas posters  onepiece"
        " goku sudaderas gorras posters  onepiece"
    ;
    grid-area: homepage-grid;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    letter-spacing: 10px;
}

.homepage-grid div {
    border-radius: 20px;
    background-color: #FF5757;
    box-shadow: 0px 3px 0px rgb(75, 75, 75);
}

.homepage-grid img {
    width: 100%;
    border-radius: 20px;

    border-left: 5px solid #FF5757;

}

.homepage-grid h3 {
    padding: 5px;

}

#figuras {
    grid-area: figuras;
}

#goku {
    grid-area: goku;
}

#onepiece {
    grid-area: onepiece;
}

#camisetas {
    grid-area: camisetas;
}

#gorras {
    grid-area: gorras;
}

#sudaderas {
    grid-area: sudaderas;
}

#tazas {
    grid-area: tazas;
}

#disfraces {
    grid-area: disfraces;
}

#posters {
    grid-area: posters;
}




.product-listing {
    
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: center;



}

.product-listing div {
    flex: auto;

}

.article-list {
    width: 300px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}


/* FOOTER */

#footer {

    min-height: 10vh;
    background-color: rgb(32, 32, 32);
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


/****************** ADMIN **************************/

.admin-create-panel {
    position: sticky;
    top: 10px; 
}
.create-block {
    
    display: flex;
   
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    gap: 5px;
     
   
}
.create-block .st2-form-group  {
    
    padding-bottom: 10px;
   
}

#category-panel{
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
    gap: 20px;
}

#categories-list {
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr 1fr 1fr;
    
    width: 100%;


}

#categories-list>div {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    border-top: 2px solid #FF5757;
    border-left: 2px solid #FF5757;
    border-right: 2px solid #a74e4e;
    border-bottom: 2px solid #a74e4E;
}

#categories-container h1 {
    padding: 10px;
}



#categories-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}
#category-tree{
    outline: 5px dotted #ffa2a2;
    display: flex;
    flex-direction: column;
    
    border-radius: 10px;
    padding: 10px;
}

#category-tree li {
    padding-bottom: 10px;
}
#category-tree h3 {
    text-align: center;
}


